main {
    padding-top:20px;
}

main #bar {
    width:700px;
    height:400px;
}
main #pie {
    width:100%;
    height:300px;  
}

body {
    font-family:Microsoft JhengHei;
}




body {
    background-color:#2E2E2E;

}

.card {
    background-color:#37474F    ;
    color:white;
}

.card p {
    color:lightgrey;
}
h2 {
    color:white;
}

.card-header {
    color:lightgrey;
    /* background-color: #263238  !important; */
}

/* arrows */
.fa-arrow-down {
    font-size:.3em;
    color:#ff4444;
}

.fa-arrow-up {
    font-size:.3em;
    
    color:#33b5e5
}
.team-rank .fa-arrow-up {
    font-size:.8em;
}

.team-rank .fa-arrow-down {
    font-size:.8em;
}

.city-rank .fa-arrow-up {
    font-size:.8em;
}

.city-rank .fa-arrow-down {
    font-size:.8em;
}

.fa-minus {
    font-size:.3em;
    color:#ffbb33;
}

.city-rank .fa-minus {
    font-size:.8em;
    
}
.team-rank .fa-minus {
    font-size:.8em;
}
.month-total .p{
    font-size:.8em;
}

/* .number1{
    background-color:#212121 !important;
}
.number2{
    background-color:#424242;
}
.number3 {
    background-color:#616161 !important;
} */